#login1 {
    float: right;
    margin-top: 10px;
    margin-right: 100px;
    border-right: 100px;
    margin-left: 800px;
}
.class1 {
    margin-left: 125px;
    height: 300px;
}
p {
    font-size: large;
}